@use '../styles/variables';

.auth-form {
  &__form {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    padding: 48px 58px;
    border-radius: 12px;
    border: 1px solid variables.$color-border;
  }
  &__form-controls-wrapper {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
  }
  &__form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    a {
      margin-top: 12px;
      font-weight: 400;
      text-decoration: underline;
      color: variables.$button-purple;
    }
    &:last-of-type {
      padding-top: 8px;
    }
  }
  &__form-add-text-field {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    & + div > button {
      display: flex;
      align-self: start;
    }
  }
  &__form-add-text-field-field-wrapper {
    flex: 1 1 auto;
  }
  &__form-add-text-field-btn-wrapper {
    flex: 0 0 24px;
  }
}

@media screen and (max-width: 700px) {
  .auth-form {
    &__form {
      max-width: 345px;
      margin-top: 24px;
      padding: 48px 24px;
    }
    &__form-row {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
