@use '../styles/variables';

.auth-form {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    padding: 48px 58px;
    border-radius: 12px;
    border: 1px solid variables.$border;
    background-color: variables.$background;
    a {
      font-weight: 400;
      text-decoration: underline;
      color: variables.$button-purple;
    }
  }
  &__message {
    margin: 0 auto;
    color: variables.$font-muted;
    font-weight: 700;
  }
  &__form-field-with-cta {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    & > button {
      position: relative;
      top: 12px;
    }
  }
}

@media screen and (max-width: 700px) {
  .auth-form {
    &__form {
      max-width: 345px;
      margin-top: 24px;
      padding: 48px 24px;
    }
    &__form-row {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
