@use '../styles/variables';

.auth-form {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    margin-top: 48px;
    max-width: 480px;
    width: 100%;
    padding: 48px 58px;
    border-radius: 12px;
    border: 1px solid variables.$border;
    background-color: variables.$background-dark;
    a {
      font-weight: 400;
      text-decoration: underline;
      color: variables.$button-purple;
    }
    .h2 {
      position: relative;
      width: 100%;
      margin: 24px 0 12px 0;
      color: variables.$font-muted;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -12px;
        width: 100%;
        height: 1px;
        background-color: variables.$border;
      }
      &:first-of-type {
        margin: 0 0 12px 0;
      }
    }
  }
  &__message {
    margin: 0 auto;
    color: variables.$font-muted;
    font-weight: 700;
    text-align: center;
  }
  &__form-field-with-cta-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 24px;
    & > p {
      display: flex;
      align-self: flex-start;
      gap: 2px;
      margin-bottom: -20px;
      font-weight: 700;
      color: variables.$font-muted;
    }
  }
  &__additional-options-heading {
    p:first-of-type {
      display: flex;
      align-self: flex-start;
      margin-bottom: 4px;
      font-weight: 700;
      color: variables.$font-muted;
    }
    p:last-of-type {
      margin-bottom: 16px;
      font-weight: 300;
      line-height: 1.6;
      font-size: 0.875rem; // 14px;
      color: variables.$font-muted;
    }
  }
  &__additional-options {
    display: flex;
    gap: 24px;
    width: 100%;
  }
  &__tooltip-wrapper {
    position: absolute;
    top: 2px;
    left: 146px;
  }
  &__form-field-with-cta {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
  }
  &__story-links-tooltip-message {
    max-width: 310px;
    width: 100%;
  }
  &__cta-text-links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (max-width: 600px) {
  .auth-form {
    &__form {
      margin-top: 24px;
      padding: 48px 24px;
    }
    &__additional-options {
      flex-direction: column;
    }
    &__additional-options-heading {
      p:last-of-type {
        font-size: 1rem; // 16px;
      }
    }
  }
}
