@use '../styles/variables';

.card {
  &__wrapper {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 225px;
    padding: 16px;
    border-radius: 8px;
    font-size: 2.25rem; // 36px
    //border: 1px solid variables.$border;
    border: 1px solid variables.$border;
    background-color: variables.$background-light;
    transition: border 200ms ease-in;
    color: variables.$font;
    /*     &:hover {
      border: 1px solid variables.$font-light;
      & > div {
        color: variables.$font-light;
        transition: color 200ms ease-in;
      }
    } */
    &--1 {
      grid-column: 2 / span 2;
      grid-row: 1;
    }
    &--2 {
      grid-column: 4 / span 2;
      grid-row: 1;
    }
    &--3 {
      grid-column: 6 / span 2;
      grid-row: 1;
    }
    &--4 {
      grid-column: 8 / span 2;
      grid-row: 1;
    }
    &--5 {
      grid-column: 10 / span 2;
      grid-row: 1;
    }
    &--6 {
      grid-column: 12 / span 2;
      grid-row: 1;
    }
    &--7 {
      grid-column: 1 / span 2;
      grid-row: 2;
    }
    &--8 {
      grid-column: 3 / span 2;
      grid-row: 2;
    }
    &--9 {
      grid-column: 5 / span 2;
      grid-row: 2;
    }
    &--10 {
      grid-column: 7 / span 2;
      grid-row: 2;
    }
    &--11 {
      grid-column: 9 / span 2;
      grid-row: 2;
    }
    &--12 {
      grid-column: 11 / span 2;
      grid-row: 2;
    }
    &--13 {
      grid-column: 13 / span 2;
      grid-row: 2;
    }
  }
  &__symbol-top-left,
  &__symbol-top-right,
  &__symbol-bottom-left,
  &__symbol-bottom-right {
    font-size: 1.125rem; // 18px
    //color: variables.$border;
    color: variables.$font-muted;
    font-weight: 700;
  }
  &__symbol-top-left {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  &__symbol-top-right {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  &__symbol-bottom-left {
    position: absolute;
    bottom: 16px;
    left: 16px;
    transform: rotate(180deg);
  }
  &__symbol-bottom-right {
    position: absolute;
    bottom: 16px;
    right: 16px;
    transform: rotate(180deg);
  }
}
