@use '../styles/variables';

.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 6px;
  transition: all 0.3s;
  &--small {
    padding: 8px 18px;
    border-radius: 20px;
  }
  &--medium {
    padding: 16px 20px;
    font-size: 1.125rem; // 18px
    border-radius: 26px;
  }
  &--large {
    padding: 16px;
    font-size: 1.125rem; // 18px
    border-radius: 26px;
  }
  &--full {
    width: 100%;
  }
  &--bold {
    font-weight: 700;
  }
  &--icon {
    font-size: 2rem; // 32px
    span {
      svg {
        font-size: 2rem; // 32px
      }
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 1rem; // 16px;
      color: variables.$font-muted;
    }
  }
  .loader {
    width: 14px;
    height: 14px;
    transition: all 0.3s;
  }
  &--purple {
    background-color: variables.$button-purple-dark;
    color: variables.$button-purple;
    svg {
      fill: variables.$button-purple;
    }
    .loader {
      border: 3px solid variables.$button-purple;
      border-top: 3px solid transparent;
    }
    &:hover,
    &:active {
      background-color: variables.$button-purple;
      color: variables.$button-purple-dark;
      svg {
        fill: variables.$button-purple-dark;
      }
      .loader {
        border: 3px solid variables.$button-purple-dark;
        border-top: 3px solid transparent;
      }
    }
  }
  &--green {
    background-color: variables.$button-green-dark;
    color: variables.$button-green;
    svg {
      fill: variables.$button-green;
    }
    .loader {
      border: 3px solid variables.$button-green;
      border-top: 3px solid transparent;
    }
    &:hover,
    &:active {
      background-color: variables.$button-green;
      color: variables.$button-green-dark;
      svg {
        fill: variables.$button-green-dark;
      }
      .loader {
        border: 3px solid variables.$button-green-dark;
        border-top: 3px solid transparent;
      }
    }
  }
  &--red {
    background-color: variables.$button-red-dark;
    color: variables.$button-red;
    svg {
      fill: variables.$button-red;
    }
    .loader {
      border: 3px solid variables.$button-red;
      border-top: 3px solid transparent;
    }
  }
  &--orange {
    background-color: variables.$button-orange-dark;
    color: variables.$button-orange;
    svg {
      fill: variables.$button-orange;
    }
    .loader {
      border: 3px solid variables.$button-orange;
      border-top: 3px solid transparent;
    }
  }
  &--blue {
    background-color: variables.$button-blue-dark;
    color: variables.$button-blue;
    svg {
      fill: variables.$button-blue;
    }
    .loader {
      border: 3px solid variables.$button-blue;
      border-top: 3px solid transparent;
    }
  }
  &--yellow {
    background-color: variables.$button-yellow-dark;
    color: variables.$button-yellow;
    svg {
      fill: variables.$button-yellow;
    }
    .loader {
      border: 3px solid variables.$button-yellow;
      border-top: 3px solid transparent;
    }
  }
  &--black {
    background-color: variables.$background-dark;
    color: variables.$font;
    border: 1px solid variables.$font;
    transition: all 0.3s;
    svg {
      fill: variables.$font;
    }
    .loader {
      border: 3px solid variables.$font;
      border-top: 3px solid transparent;
    }
    &:hover {
      color: variables.$background-dark;
      background-color: variables.$font;
      border: 1px solid variables.$font;
    }
  }
  &--icon-green {
    svg {
      fill: variables.$button-green;
    }
  }
  &--icon-red {
    svg {
      fill: variables.$button-red;
    }
  }
}

.cta-text-link {
  color: variables.$button-purple;
  display: inline-block;
}
