@use '../styles/variables';

.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 6px;
  &--small {
    padding: 8px 18px;
    border-radius: 20px;
  }
  &--medium {
    padding: 12px 16px;
    font-size: 1.125rem; // 18px
    border-radius: 26px;
  }
  &--large {
    padding: 14px;
    font-size: 1.125rem; // 18px
    border-radius: 26px;
    font-weight: 700;
  }
  &--icon {
    font-size: 2rem; // 32px
    span {
      svg {
        font-size: 2rem; // 32px
      }
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 1rem; // 16px;
      color: variables.$color-font-light;
    }
  }
  &--full {
    width: 100%;
  }
  &--purple {
    background-color: variables.$button-purple-dark;
    color: variables.$button-purple;
    svg {
      fill: variables.$button-purple;
    }
    .loader {
      border: 2px solid variables.$button-purple;
      border-top: 2px solid transparent;
    }
  }
  &--green {
    background-color: variables.$button-green-dark;
    color: variables.$button-green;
    svg {
      fill: variables.$button-green;
    }
    .loader {
      border: 2px solid variables.$button-green;
      border-top: 2px solid transparent;
    }
  }
  &--red {
    background-color: variables.$button-red-dark;
    color: variables.$button-red;
    svg {
      fill: variables.$button-red;
    }
    .loader {
      border: 2px solid variables.$button-red;
      border-top: 2px solid transparent;
    }
  }
  &--orange {
    background-color: variables.$button-orange-dark;
    color: variables.$button-orange;
    svg {
      fill: variables.$button-orange;
    }
    .loader {
      border: 2px solid variables.$button-orange;
      border-top: 2px solid transparent;
    }
  }
  &--blue {
    background-color: variables.$button-blue-dark;
    color: variables.$button-blue;
    svg {
      fill: variables.$button-blue;
    }
    .loader {
      border: 2px solid variables.$button-blue;
      border-top: 2px solid transparent;
    }
  }
  &--yellow {
    background-color: variables.$button-yellow-dark;
    color: variables.$button-yellow;
    svg {
      fill: variables.$button-yellow;
    }
    .loader {
      border: 2px solid variables.$button-yellow;
      border-top: 2px solid transparent;
    }
  }
  &--icon-green {
    svg {
      fill: variables.$button-green;
    }
  }
  &--icon-red {
    svg {
      fill: variables.$button-red;
    }
  }
}

.cta-text-link {
  color: variables.$button-purple;
  display: inline-block;
}
