@use '../styles/variables';

.form-error-message {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  position: absolute;
  bottom: -23px;
  left: 0;
  padding: 2px 2px 2px 4px;
  border-radius: 4px;
  font-size: 0.875rem; // 14px;
  background-color: variables.$button-orange-dark;
  color: variables.$button-orange;
  &--position-static {
    position: static;
    max-width: 970px;
    justify-content: center;
  }
}
