@use '../styles/variables';

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  //margin-bottom: 32px;
  label {
    display: flex;
    align-self: flex-start;
    margin-bottom: 4px;
    font-size: 1.125rem; // 18px
    cursor: pointer;
  }
  input {
    border: none;
    padding: 12px;
    font: inherit;
    border-radius: 9px;
    width: 100%;
    //background-color: $color-input;
    //color: $color-font;
    border: 1px solid variables.$color-border;
    //color-scheme: dark;
  }
  &__sublabel {
    margin-bottom: 8px;
    font-weight: 300;
    line-height: 1.6;
    //color: $color-list-item-svg;
  }
  &__select-wrapper {
    position: relative;
    select {
      width: 100%;
      padding: 12px;
      font: inherit;
      //color: $color-font;
      //background-color: $color-input;
      border: 1px solid variables.$color-border;
      cursor: pointer;
      appearance: none;
    }
    &:after {
      content: '';
      position: absolute;
      top: 48%;
      right: 12px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid variables.$color-list-item-svg;
    }
  }
  /*   &__quill-wrapper {
    &--toolbar {
      min-height: 241px;
    }
    &--no-toolbar {
      min-height: 198px;
    }
  } */
  .loader {
    position: absolute;
    bottom: 18px;
    right: 18px;
  }
}

@media screen and (max-width: 600px) {
  .form-field {
    &__sublabel {
      font-size: 1rem; // 16px
    }
  }
}
