@use '../styles/variables';

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  label {
    display: flex;
    align-self: flex-start;
    margin-bottom: 4px;
    font-weight: 700;
    color: variables.$font-muted;
    cursor: pointer;
  }
  input {
    border: none;
    padding: 12px;
    font: inherit;
    border-radius: 9px;
    width: 100%;
    color: variables.$font;
    border: 1px solid variables.$border-muted;
    background-color: variables.$background-light;
  }
  &__sublabel {
    margin-bottom: 8px;
    font-weight: 300;
    line-height: 1.6;
    font-size: 0.875rem; // 14px;
    color: variables.$font-muted;
  }
  &__select-wrapper {
    position: relative;
    select {
      width: 100%;
      padding: 12px;
      font: inherit;
      color: variables.$font;
      background-color: variables.$background-dark;
      border: 1px solid variables.$border;
      cursor: pointer;
      appearance: none;
      color: variables.$font;
    }
    &:after {
      content: '';
      position: absolute;
      top: 48%;
      right: 12px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid variables.$font;
    }
  }
  .loader {
    position: absolute;
    bottom: 18px;
    right: 18px;
  }
}

/* @media screen and (max-width: 600px) {
  .form-field {
    &__sublabel {
      font-size: 1rem; // 16px
    }
  }
}
 */
