@use '../styles/variables';

.header {
  background-color: variables.$background-dark;
  border-bottom: 1px solid variables.$border;
  &__inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 1296px;
    width: 100%;
    padding: 14px 48px;
    & > a {
      display: flex;
      align-items: center;
      gap: 6px;
      color: variables.$font;
      font-weight: 700;
    }
  }
  &__content-right {
    display: flex;
    align-items: center;
    min-height: 24px;
  }
}

/* @media screen and (max-width: 800px) {
  .header {
    &__inner-wrapper {
      padding: 20px 24px;
    }
    &__content-right {
      min-height: 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    border: 0;
    &__inner-wrapper {
      padding: 12px 16px;
    }
    &__content-right {
      min-height: auto;
    }
  }
} */
