@use '../styles/variables';

.header {
  background-color: variables.$background-dark;
  border-bottom: 1px solid variables.$border;
  &__inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 1296px;
    width: 100%;
    padding: 14px 48px 14px 38px;
    & > a {
      display: flex;
      align-items: center;
      gap: 6px;
      color: variables.$font;
      font-weight: 700;
    }
  }
  &__content-right {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    &__inner-wrapper {
      padding: 14px 24px 14px 14px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    &__inner-wrapper {
      padding: 14px 16px 14px 6px;
    }
  }
}
