@use '../styles/variables';

.homepage {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    p {
      line-height: 1.6;
      font-size: 1.125rem; // 18px
    }
  }
  &__hero {
    display: flex;
    width: 100%;
  }
  &__hero-left {
    flex: 0 1 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1,
    p {
      margin-bottom: 32px;
    }
  }
  &__hero-right {
    display: flex;
    justify-content: center;
    flex: 0 0 600px;
    overflow: hidden;
  }
  &__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    h2,
    p {
      margin-bottom: 32px;
      text-align: center;
    }
    video {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }
  &__video-wrapper {
    position: relative;
    box-shadow: 0 10px 60px variables.$button-purple-dark;
  }
  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:before {
      content: '';
      position: absolute;
      top: 40px;
      left: 40px;
      width: 50px;
      height: 50px;
      background-color: variables.$button-purple-dark;
      transition: all 0.3s;
    }
    svg {
      fill: variables.$button-purple;
      font-size: 8rem;
      position: relative;
      transition: all 0.3s;
    }
    &:hover {
      &:before {
        background-color: variables.$button-purple;
      }
      svg {
        fill: variables.$button-purple-dark;
      }
    }
  }
  &__direct-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .homepage {
    &__wrapper {
      padding-top: 25px;
    }
    &__hero {
      flex-direction: column;
    }
    &__hero-left {
      flex: 0 1 100%;
    }
    &__hero-right {
      flex: 0 1 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  .homepage {
    &__wrapper {
      gap: 72px;
    }
  }
}

@media screen and (max-width: 600px) {
  .homepage {
    &__wrapper {
      padding: 0;
    }
    &__hero {
      gap: 32px;
    }
    &__play-button {
      svg {
        font-size: 6rem;
      }
    }
  }
}
