@use '../styles/variables';

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

dialog {
  border: 0;
  padding: 0;
  border-radius: 12px;
  overflow: visible;
  background-color: variables.$background-dark;
  color: variables.$font;
  border: 1px solid variables.$border;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  min-height: 295px;
  position: relative;
  &__inner-wrapper {
    padding: 32px 32px 48px;
    & > button {
      position: absolute;
      top: 18px;
      right: 18px;
    }
  }
}

@media screen and (max-width: 600px) {
  dialog.modal {
    width: 90%;
  }
}
