@use '../styles/variables';

.room {
  &__room-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    height: 85vh;
  }
  &__card-wrapper {
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: auto;
    gap: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .room {
    &__room-wrapper {
      height: auto;
      padding-top: 10%;
    }
    &__card-wrapper {
      grid-template-columns: repeat(auto-fit, 157px);
    }
  }
}

@media screen and (max-width: 800px) {
  .room {
    &__card-wrapper {
      grid-template-columns: repeat(auto-fit, 125px);
    }
  }
}

@media screen and (max-width: 600px) {
  .room {
    &__room-wrapper {
      padding-top: 48px;
    }
    &__card-wrapper {
      grid-template-columns: repeat(auto-fit, 70px);
    }
  }
}
