@use '../styles/variables';

.room {
  &__room-wrapper {
    display: flex;
    flex-direction: column;
    //justify-content: flex-end;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    height: 85vh;
  }
  &__card-wrapper {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: auto;
    padding: 16px;
    gap: 16px;
  }
}
