@use '../styles/variables';

.room {
  &__room-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 1200px;
    width: 100%;
    height: 85vh;
    //background: lightgreen;
  }
  &__card-wrapper {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: auto;
    padding: 16px;
    gap: 16px;
    //border-radius: 12px;
    //border: 1px solid variables.$color-border;
    //background-color: variables.$color-white;
  }
}
