@use '../styles/variables';

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0 4px;
  svg {
    pointer-events: none;
    color: variables.$button-purple;
  }
  &__tooltip-message {
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    bottom: 28px;
    z-index: 1;
    width: max-content;
    text-align: center;
    border-radius: 12px;
    background-color: variables.$background-light;
    border: 1px solid variables.$border;
    padding: 12px;
    line-height: 1.6;
  }
  &:hover {
    .tooltip__tooltip-message {
      visibility: visible;
    }
  }
}
