@use '../styles/variables';

.user-menu {
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 0;
    min-width: 24px;
    height: 24px;
    color: variables.$font-muted;
    font-size: 1.375rem; // 22px
    background-color: transparent;
    svg {
      width: 1rem;
      height: 1rem;
      pointer-events: none;
    }
  }
  &__nav {
    display: none;
    position: absolute;
    top: 55px;
    right: 48px;
    background-color: variables.$background-light;
    //border: 1px solid variables.$border;
    border-radius: 12px;
    z-index: 2;
    &--show-menu {
      display: block;
    }
    ul {
      list-style-type: none;
      width: 150px;
      margin: 0;
      padding: 12px 0 24px;
      li {
        a,
        div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          gap: 10px;
          padding: 4px 0 4px 24px;
          color: variables.$font-muted;
          cursor: pointer;
          //opacity: 0.8;
          transition: all 0.3s;
          svg {
            width: 1.1rem;
            height: 1.1rem;
            //fill: variables.$font-muted;
          }
          /*  &:hover {
            // opacity: 1;
            //color: variables.$font;
          } */
        }
        /* &:hover {
          background-color: variables.$background-dark;
        } */
      }
    }
  }
}

/* @media screen and (max-width: 800px) {
  .user-menu {
    &__nav {
      right: 24px;
    }
  }
}

@media screen and (max-width: 600px) {
  .user-menu {
    &__nav {
      top: 43px;
    }
  }
}
 */
