$color-background: #fdfdfd;
$color-font: #151515;
$color-font-light: #686868;
$color-border: #d9d9d9;
$color-input: #fdfdfd;
$color-white: #fff;

// background dark
$color-background: hsl(221 37% 5%);
$color-font: hsl(220 100% 97%);
//font muted
$color-font-light: hsl(220 20% 71%);
$color-border: hsl(220 16% 30%);
$color-border-muted: hsl(220 23% 19%);
//backgroundlight
$color-input: hsl(220 22% 9%);
// background
$color-white: hsl(221 37% 5%);

$button-purple: #b8acf6;
$button-purple-dark: #2b273f;
$button-blue: #388bff;
$button-blue-dark: #092957;
$button-orange: #f18d13;
$button-orange-dark: #5f3811;
$button-green: #2abb7f;
$button-green-dark: #1d474c;
$button-red: #ef5c48;
$button-red-dark: #601e16;
$button-yellow: #cdaa00;
$button-yellow-dark: #533f04;
