$background-dark: hsl(221 37% 5%);
$background-light: hsl(220 22% 9%);
$font: hsl(220 100% 97%);
$font-muted: hsl(220 20% 71%);
$border: hsl(220 16% 30%);
$border-muted: hsl(220 23% 19%);

$button-purple: #b8acf6;
$button-purple-dark: #2b273f;
$button-blue: #388bff;
$button-blue-dark: #092957;
$button-orange: #f18d13;
$button-orange-dark: #5f3811;
$button-green: #2abb7f;
$button-green-dark: #1d474c;
$button-red: #ef5c48;
$button-red-dark: #601e16;
$button-yellow: #cdaa00;
$button-yellow-dark: #533f04;
