$color-background: #fdfdfd;
$color-font: #151515;
$color-font-light: #686868;
$color-border: #d9d9d9;
$color-input: #fdfdfd;
$color-white: #fff;

$button-purple: #b8acf6;
$button-purple-dark: #2b273f;
$button-blue: #388bff;
$button-blue-dark: #092957;
$button-orange: #f18d13;
$button-orange-dark: #5f3811;
$button-green: #2abb7f;
$button-green-dark: #1d474c;
$button-red: #ef5c48;
$button-red-dark: #601e16;
$button-yellow: #cdaa00;
$button-yellow-dark: #533f04;
