@use '../styles/variables';

.votes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.375rem; // 22px
    span {
      font-size: 1.375rem; // 22px
      color: variables.$font;
      font-weight: 700;
      svg {
        position: relative;
        top: 2px;
        font-size: 1.875rem; // 30px
      }
    }
  }
  &__green-checkmark {
    svg {
      fill: variables.$button-green;
    }
  }
  .loader {
    border: 2px solid variables.$font;
    border-top: 2px solid transparent;
    width: 18px;
    height: 18px;
  }
}
